<div class="post">
<h2>
  <a href="http://www.flickr.com/photos/dustinsmith1024/">My Flickr Photostream</a>
</h2>
<p>
  Here's some pictures from my Flickr account.
  Click the photo for a pop-up image.
  Click the blue titles for full size image.
</p>
<div class="center">
<% @photo_list.each do |photo| %>
  <p class="photo">
    <% info = flickr.photos.getInfo(:photo_id => photo.id) %>
    <% img_url = FlickRaw.url_m(info) %><%# change _b to _s _m _whatev for different sizes %>
    <% big_img_url = FlickRaw.url_b(info) %>
    <a class="lightbox" rel="my-pics" href="<%= big_img_url %>" title="<%= photo.title %>: <%= photo.description %>">
      <img src="<%= img_url %>" alt="Flickr Photo" title="<%= photo.title %>" />
    </a>
    <br/>
    <span class="caption" >
      <a href="<%= big_img_url %>" >
        <%= photo.title %>
      </a>
    </span>
  </p>
<% end %>
</div>
<div id="clear">&nbsp;</div>
</div>
