<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head>
  <title>Smith 1024</title>
  <%= stylesheet_link_tag :all %>
  <%= csrf_meta_tag %>
  <meta name="viewport" content="initial-scale:1.0, width=device-width" />
  <meta name="Description" content="Dustin Smith's Personal Website. Web developer discussing Rails, Python, Node.js, UX, and anything else that comes up in life." />
  <meta name="Author" content="Dustin Smith" />
  <meta name="keywords" content="web,html,css,javascript,nodejs,rails,ruby,dustin,smith,dustinsmith1024,python" />
</head>
<body>
  <div id="header">
    <h1><a href="/">Dustin Smith</a></h1>
    <p>Bytes of Me</p>
  </div>
  <div id="nav">
    <ul>
      <li id="blog"><a href="/">Blog</a></li>
      <li id="me"><a href="/me">Me</a></li>
      <li id="work"><a href="/work">Work</a></li>
      <li id="pics"><a href="/pictures">Pictures</a></li>
      <li id="twitter"><a href="/twitter"><img src="/images/twitter_bird_blue.png" alt="Twitter Link [Icon]" class="twitter-bird" /></a></li>
      <li id="email"><a href="mailto:dustinsmith1024@gmail.com"><img src="/images/email.png" alt="Email Link [Icon]" class="email-link" /></a></li>
    </ul>
  </div>
  <div id="body">
    <div class="flash-container">
      <% flash.each do |key, value| %>
          <p class="flash <%= key %>"><%= value %></p>
        <% end %>
    </div>
    <div id="user_nav">
      <% if current_user %>
        Logged in as <%= current_user.email %>.
        <%= link_to "Log out", log_out_path %>
      <% end %>
    </div>
    <%= yield %>
  </div>
  <div id="footer" >
  </div>
  <script>
  /*  var myTweetsFixer = function (twitters) {
      var i, newTweets = [];
      for (i = 0; i < twitters.length; i++) {
        if (/smith1024/.test(twitters[i].text)) {
          twitters[i].text = '<span class="status">Current Status: </span>' + twitters[i].text
          newTweets.push(twitters[i]);
        }
      }
      twitterCallback2(newTweets);
    };*/
  </script>
  <%= javascript_include_tag "application", "jquery.min.js", "jquery_ujs.js" %>
  <!--[if lt IE 9]>
    <script src="http://ie7-js.googlecode.com/svn/version/2.1(beta4)/IE9.js">IE7_PNG_SUFFIX=".png";</script>
  <![endif]-->
  <%= csrf_meta_tag %>
  <script type="text/javascript" src="http://twitter.com/javascripts/blogger.js"></script>
</body>
</html>
